.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(164, 207, 207);
  font-size: 16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  min-height: 1200px;
  color: rgb(5, 29, 66);
 
  
}  

.title{
  margin-top: 30px;
  font-size: 30px;
  padding: 20px;
  width: 100%;
  background-color: rgb(131, 176, 176);
  text-align:center;
  margin: auto auto;
 
}
@media screen and (max-width:800px) {
  .App{
    align-items:flex-start;
    min-height: 700px;
  }
  .title{
    font-size: 20px;
    padding: 5px;
  }
   }
@media screen and (max-width:640px) {
.App{
  align-items: flex-start;
  min-height: 600px;
}
 }

/* .App{
  text-align: center;
  margin: 20px;
  background-color:slategray;
  color: white;
  min-height: 1200px;
}  */